asgiref==3.10.0
azure-ai-translation-text==1.0.1
azure-cognitiveservices-speech==1.46.0
azure-core==1.36.0
azure-storage-blob==12.27.1
backports-datetime-fromisoformat==2.0.3
certifi==2025.10.5
cffi==2.0.0
charset-normalizer==3.4.4
cryptography==43.0.3
defusedxml==0.7.1
Django==4.2.25
django-cors-headers==4.9.0
djangorestframework==3.16.1
djangorestframework_simplejwt==5.5.1
djoser==2.3.3
environs==14.4.0
ffmpeg-python==0.2.0
future==1.0.0
gunicorn==23.0.0
idna==3.11
isodate==0.7.2
jieba==0.42.1
marshmallow==4.0.1
oauthlib==3.3.1
packaging==25.0
pycparser==2.23
pydub==0.25.1
PyJWT==2.10.1
python-dotenv==1.2.1
python3-openid==3.2.0
requests==2.32.5
requests-oauthlib==2.0.0
six==1.17.0
social-auth-app-django==5.4.3
social-auth-core==4.7.0
sqlparse==0.5.3
typing_extensions==4.15.0
tzdata==2025.2
urllib3==2.5.0
zhon==2.1.1
