asgiref==3.9.0
azure-ai-translation-text==1.0.1
azure-cognitiveservices-speech==1.44.0
azure-core==1.35.0
backports-datetime-fromisoformat==2.0.3
certifi==2025.6.15
charset-normalizer==3.4.2
Django==4.2.23
django-cors-headers==4.7.0
djangorestframework==3.16.0
environs==14.2.0
ffmpeg-python==0.2.0
future==1.0.0
gunicorn==23.0.0
idna==3.10
isodate==0.7.2
jieba==0.42.1
marshmallow==4.0.0
packaging==25.0
pydub==0.25.1
python-dotenv==1.1.1
requests==2.32.4
six==1.17.0
sqlparse==0.5.3
typing_extensions==4.14.1
tzdata==2025.2
urllib3==2.5.0
zhon==2.1.1
